<div class="chat-container lg:w-[22.5rem] rounded-[20px] p-6">
  <!-- <iframe title="chat-with-your-data" width="100%" height="100%" [src]='sanitzedURL' allowFullScreen="true"  ></iframe> -->

  <h1 class="font-semibold text-sm">Ask Question About Your Data</h1>

  <div class="message mb-6 mt-3">
    <textarea matInput placeholder="Generate operations performance data for the last shift" class="w-full p-4 rounded-3xl"></textarea>
  </div>
  <button  mat-button class="w-full">Send</button>
</div>
