.chat-container{
  background-color: #EEEEEE;
  h1 {
    // font-family: Inter;
    font-family: Poppins;
}

.message {

    textarea::placeholder {
        font-size: 12px;
    }

}
::ng-deep {
  .mat-button-toggle-group-appearance-standard {
      border: none;
      display: flex;
      flex-wrap: wrap;
  }

  .mat-mdc-button {
      padding: 1.7rem 0;
      border-radius: 20px;
      background-color: #005F65;
      color: #fff;
  }
}
}


::ng-deep .link{
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  @keyframes dot-keyframes {
    0% {
      opacity: .4;
      transform: scale(1, 1);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2, 1.2);
    }
  
    100% {
      opacity: .4;
      transform: scale(1, 1);
    }
  }
  
  ::ng-deep .loading-dots {
    text-align: center;
    width: 100%;
    
    &--dot {
      animation: dot-keyframes 1.5s infinite ease-in-out;
      background-color: #000;
      border-radius: 10px;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin-left: 2px;
      margin-right: 2px;
      
      &:nth-child(2) {
        animation-delay: .5s;
      }
      
      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }