.compose-container {
    background-color: #EEEEEE;

    h1 {
        // font-family: Inter;
        font-family: Poppins;
    }

    .message {

        textarea::placeholder {
            font-size: 12px;
        }

    }

    ::ng-deep {
        .mat-button-toggle-group-appearance-standard {
            border: none;
            display: flex;
            flex-wrap: wrap;
        }

        .mat-mdc-button {
            padding: 1.7rem 0;
            border-radius: 20px;
            background-color: #005F65;
            color: #fff;
        }
    }

    .tone,
    .length {
        ::ng-deep {
            .mat-button-toggle-group {
                gap: 10px;
            }

            .mat-button-toggle {
                border-radius: 5px;
            }

            .mat-button-toggle-checked {
                background-color: #005F65;
            }

            .mat-button-toggle-label-content {
                font-family: Inter;
                font-size: 10px;
                font-weight: 500;
                line-height: 12px;
                color: #005F65;

            }

            .mat-button-toggle-checked .mat-button-toggle-label-content {
                color: #fff;
            }

            .mat-button-toggle-appearance-standard {
                border: 1px solid #005F65;
            }
        }

    }


    .format {
        ::ng-deep {
            .mat-button-toggle-group-appearance-standard {
                gap: 1.5rem;
            }

            .mat-button-toggle-button {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .mat-button-toggle+.mat-button-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .mat-button-toggle-appearance-standard {
                background-color: #E9E9E9;
                border: 1px solid #CBCBCB;
                border-radius: .5rem;
                display: flex;
            }

            .mat-button-toggle-checked {
                border: 1px solid #005F65;
            }

            mat-icon {
                color: #2D2D2D;
            }
        }
    }

}