<main class="flex flex-col h-full">
  <div>
    <h1 class="text-2xl font-semibold capitalize mb-14">&nbsp;</h1>
  </div>
  <div class="flex-1 ">
    <section class="h-full" >
      
      <app-chat-content class=""></app-chat-content>
      <!-- <iframe class="w-9/12" src="https://app-backend-vvautknndxrhi.azurewebsites.net" height="100%" width="100%" title="" target="_self"></iframe> -->
  
      <!-- items section -->
      <!-- <section >
        <div
           >
  
        </div>
      </section> -->
    </section>
  </div>
</main>
