<div>
  <h1 class="ff-poppins-semibold text-center" style="font-size: 28px">NEUCLON CONNECT</h1>

    
      <div class="w-full px-4 pt-5">
        <h1 class="ff-poppins-medium text-center" style="font-size: 26px; color: #13131b">
          Connect data from any source
        </h1>
        <p class="ff-poppins pt-3 text-center" style="font-size: 16px; color: #13131b">
          After connecting, your datasets will show in the models page
        </p>
        <div class="flex flex-wrap justify-center gap-10 pt-14">
          <ng-container *ngFor="let item of connections">
            <div class="connection">
              <div class="flex flex-col justify-center items-center px-6 pt-6">
                <img [src]="item.img" alt="" width="50px" height="50px" />
                <h1 class="ff-poppins-medium py-4" style="color: #13131b">
                  {{ item.name }}
                </h1>
              </div>
              <p class="p-2 ff-poppins" style="color: white; font-size: 14px">Import data from {{ item.name }}</p>
            </div>
          </ng-container>
        </div>
        <div class="flex flex-col justify-center items-center py-12">
          <button type="button" mat-stroked-button routerLink="/main/connect/new-connection">
            Get data from another source
            <img src="assets/icons/plus-square.svg" alt="" />
          </button>
          <div class="flex py-6 w-6/12 gap-10">
            <mat-divider class="w-6/12"></mat-divider>
            <mat-divider class="w-6/12"></mat-divider>
          </div>
        </div>
      </div>
      <div class="connection_cards" >
        <app-connection-card
        class=""
        *ngFor="let item of manageConnectCollection"
        [props]="item"
      ></app-connection-card>
      </div>
</div>
