.connect-device-container {
        ::ng-deep {
        .mat-mdc-form-field-infix {
            display: flex;
            flex-direction: row-reverse;
        }

        .mat-mdc-text-field-wrapper {
            background-color: #DDDDDD;
            border-radius: 10px;
        }
    }

    .checkbox-field .mat-mdc-checkbox {
        background-color: #DDDDDD;
        border: 1px solid #B5B5B5;
        border-radius: 10px;
    }
}