main {
  ::ng-deep {
    .mat-mdc-checkbox label {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: capitalize;
    }

    .mdc-checkbox {
      padding-right: 2px;
    }

    .mdc-checkbox__background {
      width: 14px;
      height: 14px;
    }

    .mdc-checkbox__background {
      background-color: #005f65;
    }
  }
}

::ng-deep.mat-mdc-dialog-container .mdc-dialog__surface {
  max-height: 600px !important;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 16px;
}

.mat-form-fields {
  display: flex;
}

.form-field {
  margin-right: 10px;
}

::ng-deep.mat-mdc-tab-header {
  margin: 16px 0 !important;
}