<div style="width: 100%; display: flex; justify-content: space-between; position: relative">
  <div class="absolute ml-[1px] mt-[1px] w-[190px] h-[80px] bg-white top-0 z-30 mt-0">
    <!-- <img src="../../../assets/images/croped-orignal-logo.png" alt="Logo" class="w-full h-full" /> -->
  </div>
  <div class="bar absolute right-[4px] w-[380px] h-[80px] bg-white top-0 z-30 mt-1"></div>

  <div
    id="myDiagramDiv"
    style="
      flex-grow: 1;
      height: 620px;
      border: 1px solid black;
      position: relative;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    "
  >
    <canvas
      tabindex="0"
      width="1183"
      height="772"
      style="
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        user-select: none;
        touch-action: none;
        width: 947px;
        height: 618px;
      "
    ></canvas>
    <div style="position: absolute; overflow: auto; width: 947px; height: 618px; z-index: 1">
      <div style="position: absolute; width: 1px; height: 1px"></div>
    </div>
  </div>
  <div
    id="myPaletteDiv"
    style="
      width: 520px;
      margin-right: 2px;
      background-color: white;
      border: 1px solid black;
      position: relative;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    "
  >
    <canvas
      tabindex="0"
      width="128"
      height="772"
      style="
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        user-select: none;
        touch-action: none;
        width: 103px;
        height: 618px;
      "
    ></canvas>
    <div style="position: absolute; overflow: auto; width: 103px; height: 618px; z-index: 1">
      <div style="position: absolute; width: 1px; height: 1px"></div>
    </div>
  </div>
</div>
<app-inspector></app-inspector>
